<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculadora de IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>
  <form #fc="ngForm" (ngSubmit)="onSubmit(fc)">
        
    <ion-item>
        <ion-label position="floating">Altura</ion-label>
        <ion-input type="number" name="altura" [(ngModel)]="altura" required></ion-input>
    </ion-item>        

    <ion-item>
        <ion-label position="floating">Peso</ion-label>
        <ion-input type="number" name="peso" [(ngModel)]="peso"  required></ion-input>
    </ion-item>  
      </form>
    <br>
      <ion-button (click)="calculadoraIMC()" type="button" style="display: block; width: 100%; text-align: center; margin: 0;">Calculadora</ion-button>

      <ion-card *ngIf="imcValor">
        <ion-card-header>
          Calculadora IMC
        </ion-card-header>
        <ion-card-content>
          <p>Pessoa: Peso {{this.peso}} kg, Altura {{this.altura}} cm</p>
          <p>IMC: {{imcValor}}</p>
          <p><strong>Você é {{imcMensagem}}</strong></p>
        </ion-card-content>
      </ion-card>


</ion-content>