<ion-header>
  <ion-toolbar>
    <ion-title>
      Bem-Vindo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Sobre a calculadora IMC</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>IMC significa Índice de Massa Corporal e trata-se de uma medida do peso de cada pessoa, sendo uma relação entre a massa da pessoa e a sua altura.</p>
          <p>Esta é uma medida de referência internacional reconhecida pela OMS (Organização Mundial da Saúde), mas que não mede diretamente a gordura corporal, porque não contempla a massa magra, massa gorda, líquidos e a estrutura óssea da pessoa em questão.</p>
          
          <button ion-button [routerLink]="['/tabs/tab2']" style="display: block; width: 100%; text-align: center; margin: 0;" type="button" class="btn btn-dark">Calcule o seu IMC</button>

      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
        
      
        
    </ion-list>
</ion-content>
